<%= form_for @search, as: :bookmark_search, url: search_bookmarks_path,
    html: { class: "search", method: :get } do |f| %>
  <fieldset>
    <legend><%= t(".bookmarked_item") %></legend>
    <div class="form-row side-label">
      <%= f.label :bookmarkable_query do %>
        <%= t(".any_field_work") %>
        <%= link_to_help "bookmark-search-text-help" %>
      <% end %>
      <%= f.text_field :bookmarkable_query %>
    </div>
    <div class="form-row side-label">
      <%= f.label :other_tag_names do %>
        <%= t(".work_tags") %>
        <%= link_to_help "bookmark-search-work-tag" %>
      <% end %>
      <%= f.text_field :other_tag_names, autocomplete_options("tag") %>
    </div>
    <div class="form-row side-label">
      <%= f.label :bookmarkable_type do %>
        <%= t(".type") %>
        <%= link_to_help "bookmark-search-type-help" %>
      <% end %>
      <%= f.select :bookmarkable_type,
                   options_for_select(["", t(".bookmarkable_types.work"), t(".bookmarkable_types.series"), t(".bookmarkable_types.external_work")],
                                      @search.bookmarkable_type) %>
    </div>
    <div class="form-row side-label">
      <%= f.label :word_count, t(".word_count") %>
      <%= f.text_field :word_count %>
    </div>
    <div class="form-row side-label">
      <%= f.label :language_id, t(".work_language") %>
      <%= f.select(:language_id, language_options_for_select(@languages, "short"), include_blank: true) %>
    </div>
    <div class="form-row side-label">
      <%= f.label :bookmarkable_date do %>
        <%= t(".date_updated") %>
        <%= link_to_help "bookmark-search-date-updated-help" %>
      <% end %>
      <%= f.text_field :bookmarkable_date %>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t(".bookmark") %></legend>
    <div class="form-row side-label">
      <%= f.label :bookmark_query do %>
        <%= t(".any_field_bookmark") %>
        <%= link_to_help "bookmark-search-text-help" %>
      <% end %>
      <%= f.text_field :bookmark_query %>
    </div>
    <div class="form-row side-label">
      <%= f.label :other_bookmark_tag_names do %>
        <%= t(".bookmarkers_tags") %>
        <%= link_to_help "bookmark-search-bookmarker-tag" %>
      <% end %>
      <%= f.text_field :other_bookmark_tag_names, autocomplete_options("tag") %>
    </div>
    <div class="form-row side-label">
      <%= f.label :bookmarker do %>
        <%= t(".bookmarker") %>
        <%= link_to_help "bookmark-search-text-help" %>
      <% end %>
      <%= f.text_field :bookmarker %>
    </div>
    <div class="form-row side-label">
      <%= f.label :bookmark_notes do %>
        <%= t(".notes") %>
        <%= link_to_help "bookmark-search-text-help" %>
      <% end %>
      <%= f.text_field :bookmark_notes %>
    </div>
    <div class="form-row side-label">
      <%= t(".bookmark_type") %>
      <ul class="radio-group">
        <li>
          <%= f.check_box :rec  %>
          <%= f.label :rec, t(".bookmark_types.rec") %>
          <%= link_to_help "bookmark-search-rec-help" %>
        </li>
        <li>
          <%= f.check_box :with_notes  %>
          <%= f.label :with_notes, t(".bookmark_types.with_notes") %>
          <%= link_to_help "bookmark-search-notes-help" %>
        </li>
      </ul>
    </div>
    <div class="form-row side-label">
      <%= f.label :date do %>
        <%= t(".date_bookmarked") %>
        <%= link_to_help "bookmark-search-date-bookmarked-help" %>
      <% end %>
      <%= f.date_field :date %>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= ts("Search") %></legend>
    <div class="form-row side-label">
      <%= f.label :sort_column, ts("Sort by") %>
      <%= f.select :sort_column,
                   options_for_select(@search.sort_options,
                                      @search.sort_column),
                   { include_blank: t(".best_match") } %>
    </div>
    <div class="actions right"><%= f.submit t(".submit_label") %></div>
  </fieldset>
<% end %>
