<% content_for :message do %>
  <h2>
    <%= t("mailer.general.greeting.introductory") %>
  </h2>

  <p>You're receiving this e-mail because you had works in a fanworks archive that has been imported by <%= style_link('Open Doors', 'http://opendoors.transformativeworks.org/') %> into <%= style_link('superlove', root_url) %>. Because this e-mail address is connected to one registered on the imported archive, the associated fanworks (listed below) have been automatically added to your superlove account.</p>

  <p>You can read announcements about recent archive moves at <%= style_link('superlove News', 'http://archiveofourown.org/admin_posts?tag=18') %>, and find additional information on Open Doors' <%= style_link('FAQ page', 'http://opendoors.transformativeworks.org/faq') %> or <%= style_link('tutorials page', 'http://opendoors.transformativeworks.org/tutorials') %>. For any questions not answered in the FAQ, tutorials, or this e-mail, please <%= support_link('contact superlove Support') %>.</p>

  <p><%= t(".mistake.html", contact_open_doors_link: opendoors_link(t(".mistake.contact_open_doors"))) %></p>

  <p>Depending on the archive, your works may have been imported restricted to registered users only (to keep them out of Google searches). If this is the case, the works will only be accessible by logged-in users unless you choose to make them fully visible. For help unlocking, orphaning, or deleting your works, please <%= support_link('contact superlove Support') %>.</p>

  <p><%= t(".works_by", email: @external_email) %></p>

  <ul>
    <% @claimed_works.each do |work| %>
      <li>
        <% if work.fandom_string.present? %>
          <%= t(".work_info.html", work_link: style_link(work.title, work_url(work)), fandom: work.fandom_string.split(",").to_sentence) %>
        <% else %>
          <%= style_link(work.title, work_url(work)) %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <p><%= t(".redirects.html", negation: style_bold(t(".redirects.negation")), faq_link: style_link(t(".redirects.faq"), archive_faqs_url)) %></p>

  <p>If you would like Open Doors to update the redirect to point to your pre-existing work, please delete the imported copy, and <%= style_link('contact Open Doors', 'https://opendoors.transformativeworks.org/en/contact-open-doors/') %> with your superlove account name, your account name on the imported archive, and the title and URL of the fanwork you would like the redirect to point to. (If you have multiple works you would like to change the redirects for, you can list these in one email.)</p>

  <p><%= t(".questions.html", contact_support_link: support_link(t(".questions.contact_support"))) %></p>

  <p><%= t(".email_tips") %></p>

  <p>For other inquiries, please <%= support_link('contact superlove Support') %>.</p>

  <p>If you're contacting us, please add email addresses from @transformativeworks.org to your list of safe contacts and check your spam folders for our reply.</p>

  <p><%= t("mailer.general.closing.informal") %><br/>
    <%= style_bold(t("mailer.general.signature.open_doors")) %><br/>
    <%= style_bold(t("mailer.general.signature.parent_org")) %></p>
<% end %>
