<%= form_for @search, as: :people_search, url: search_people_path, html: { class: "search", method: :get } do |f| %>
  <fieldset>
    <legend><%= ts("Search people") %></legend>
    <div class="form-row side-label">
      <%= f.label(:query) do |label| %>
        <%= ts("Search all fields") %>
        <%= link_to_help "people-search-all-fields" %>
      <% end %>
      <%= f.text_field :query %>
    </div>
    <div class="form-row side-label">
      <%= f.label :name, ts("Name") %>
      <%= f.text_field :name, autocomplete_options("pseud") %>
    </div>
    <div class="form-row side-label">
      <%= f.label :fandom, ts("Fandom") %>
      <%= f.text_field :fandom, autocomplete_options("fandom") %>
    </div>
    <div class="right actions">
      <%= f.submit ts("Search People") %>
    </div>
  </fieldset>
<% end %>
