<!--SEARCHBROWSE-->
<h2 class="heading"><%= ts("People Search") %></h2>

<%= render 'shared/search_nav' %>

<%= render :partial => 'people/search_form' %>

<% if @people %>
  <p><strong><%= search_results_found(@people) %></strong></p>
  <h3 class="landmark">People List</h3>
  <ol class="results">
    <% for person in @people %>
      <% unless person.nil? %>
        <%= render :partial => 'people/author_blurb', :locals => {:author => person} %>
      <% end %>
    <% end %>
  </ol>
  <%= will_paginate @people %>
<% end %>

<% content_for :footer_js do %>
  <%= javascript_include_tag :search, "data-turbo-track": "reload" %>
<% end %>