<%= form_for @search, as: :work_search,
  url: (@collection ? collection_works_path(@collection) : works_path),
  html: {
    method: :get,
    class: "narrow-hidden filters",
    id: "work-filters"
  } do |f| %>
  <h3 class="landmark"><%= ts("Filters") %></h3>
  <%= field_set_tag ts("Filter results:") do %>
  <div class="form-row submit">
    <label class="landmark"><%= ts("Submit") %></label>
    <%= f.submit ts("Sort and Filter") %>
  </div>
  <div class="form-row">
    <%= f.label :sort_column, ts("Sort by") %>
    <%= f.select :sort_column, options_for_select(@search.sort_options, @search.sort_column) %>
  </div>

  <% %w(include exclude).each do |filter_action| %>
    <div class="<%= filter_action %>">
      <h4>
        <%= ts("%{filter_action}", filter_action: filter_action.titleize) %>
        <%= link_to_help "work-filters-#{filter_action}-tags" %>
      </h4>
      <% %w(rating archive_warning category medium fandom character relationship freeform).each do |tag_type| %>
        <details id="toggle_<%= filter_action %>_<%= tag_type %>_tags" class="filter-toggle <%= tag_type_css_class(tag_type) %> tags">
          <% # For accessibility, include filter action (e.g. Include) as landmark text %>
          <% # The space needs to be in the landmark to keep the text aligned %>
          <summary><%= ts("<span class=\"landmark\">%{filter_action} </span>%{tag_type}",
              filter_action: filter_action.titleize,
              tag_type: tag_type_label_name(tag_type).pluralize
              ).html_safe %></summary>
          <ul>
            <% @facets[tag_type].each do |tag| %>
              <li>
                <% next if filter_action == "include" && @search.options[:excluded_tag_ids]&.include?(tag.id.to_s) %>
                <%= label_tag "#{filter_action}_work_search_#{tag_type}_ids_#{tag.id}" do %>
                  <% if (tag_type == "rating") && @facets[tag_type].length > 1 && filter_action == "include" %>
                    <%= radio_button_tag "#{filter_action}_work_search[#{tag_type}_ids][]",
                      tag.id,
                      filter_boolean_value(filter_action, tag_type, tag.id.to_s),
                      id: "#{filter_action}_work_search_#{tag_type}_ids_#{tag.id}" %>
                  <% else %>
                    <%= check_box_tag "#{filter_action}_work_search[#{tag_type}_ids][]",
                      tag.id,
                      filter_boolean_value(filter_action, tag_type, tag.id.to_s),
                      id: "#{filter_action}_work_search_#{tag_type}_ids_#{tag.id}" %>
                  <% end %>
                  <% text = label_for_filter(tag_type, { name: tag.name, count: tag.count }) %>
                  <%= label_indicator_and_text(text) %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </details>
      <% end %>
      <% field_name = filter_action == "include" ? "other_tag_names" : "excluded_tag_names" %>
      <div class="form-row">
        <%= f.label field_name, ts("Other tags to %{filter_action}", filter_action: filter_action) %>
        <%= f.text_field field_name, autocomplete_options("tag") %>
      </div>
    </div>
  <% end %>

  <h4 id="more"><%= ts("More Options") %></h4>
    <div class="form-row">
      <details id="toggle_work_crossover" class="filter-toggle crossover">
        <summary><%= ts("Crossovers") %></summary>
        <ul class="radio-group">
          <li>
            <%= f.label :crossover, value: "" do %>
              <%= f.radio_button :crossover, "" %>
              <%= label_indicator_and_text(ts("Include crossovers")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :crossover, value: "F" do %>
              <%= f.radio_button :crossover, "F" %>
              <%= label_indicator_and_text(ts("Exclude crossovers")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :crossover, value: "T" do %>
              <%= f.radio_button :crossover, "T" %>
              <%= label_indicator_and_text(ts("Show only crossovers")) %>
            <% end %>
          </li>
        </ul>
      </details>
    </div>
    <div class="form-row">
      <details id="toggle_work_complete">
        <summary><%= ts("Completion Status") %></summary>
        <ul class="radio-group">
          <li>
            <%= f.label :complete, value: "" do %>
              <%= f.radio_button :complete, "" %>
              <%= label_indicator_and_text(ts("All works")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :complete, value: "T" do %>
              <%= f.radio_button :complete, "T" %>
              <%= label_indicator_and_text(ts("Complete works only")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :complete, value: "F" do %>
              <%= f.radio_button :complete, "F" %>
              <%= label_indicator_and_text(ts("Works in progress only")) %>
            <% end %>
          </li>
        </ul>
      </details>
    </div>
    <div class="form-row">
      <details id="toggle_work_words">
        <summary><%= ts("Word Count") %></summary>
        <div class="form-row side-label">
          <%= f.label :words_from, ts("From") %>
          <%= f.text_field :words_from %>
        </div>
        <div class="form-row side-label">
          <%= f.label :words_to, ts("To") %>
          <%= f.text_field :words_to %>
        </div>
      </details>
    </div>
    <div class="form-row">
      <details id="toggle_work_dates">
        <summary><%= ts("Date Updated") %></summary>
        <div class="form-row side-label">
          <%= f.label :date_from, ts("From") %>
          <%= f.date_field :date_from, class: "datepicker" %>
        </div>
        <div class="form-row side-label">
          <%= f.label :date_to, ts("To") %>
          <%= f.date_field :date_to, class: "datepicker" %>
        </div>
      </details>
    </div>

    <div class="form-row">
      <%= f.label :query, ts("Search within results") do |l| %>
        <%= link_to_help "work-search-text-help" %>
      <% end %>
      <%= f.text_field :query %>
    </div>

    <% unless @language %>
      <div class="form-row">
        <%= f.label :language_id, ts("Language") %>
        <%= f.select(:language_id, language_options_for_select(Language.default_order, "short"), include_blank: true) %>
      </div>
    <% end %>
  <div class="form-row submit">
    <label><%= ts("Submit") %></label>
    <%= f.submit ts("Sort and Filter") %>
  </div>

  <% if @owner %>
    <div class="help">
      <%= link_to ts("Clear Filters"), works_original_path %>
    </div>
  <% end %>

    <div>
      <%= hidden_field_tag("collection_id", @collection.id) if @collection %>
      <%= hidden_field_tag("tag_id", @tag.to_param) if @tag %>
      <%= hidden_field_tag("fandom_id", @fandom.id) if @fandom %>
      <%= hidden_field_tag("pseud_id", @pseud.name) if @pseud %>
      <%= hidden_field_tag("user_id", @user.login) if @user %>
      <%= hidden_field_tag("language_id", @language.short) if @language %>
    </div>

  <% end %>

  <% # On narrow screens, link jumps to top of index when JavaScript is disabled and closes filters when JavaScript is enabled %>
  <div class="narrow-shown hidden">
    <a href="#main" id="leave_filters" class="close">
      <%= ts("Top of Work Index") %>
    </a>
  </div>

<% end %>
