<%= form_for @search, as: :work_search, url: search_works_path, html: { method: :get, class: "verbose search" } do |f| %>
  <fieldset>
    <legend><%= t(".work_info") %></legend>
    <div class="actions right"><%= f.submit t(".submit_label") %></div>
    <div class="form-row side-label">
      <%= f.label :query do |l| %>
        <%= t(".any_field") %>
        <%= link_to_help "work-search-text-help" %>
      <% end %>
      <%= f.text_field :query %>
    </div>
    <div class="form-row side-label">
      <%= f.label :title, t(".title") %>
      <%= f.text_field :title %>
    </div>
    <div class="form-row side-label">
      <%= f.label :creators, t(".creator") %>
      <%= f.text_field :creators %>
    </div>
    <div class="form-row side-label">
      <%= f.label :revised_at do |l| %>
        <%= t(".date") %>
        <%= link_to_help "work-search-date-help" %>
      <% end %>
      <%= f.date_field :revised_at %>
    </div>
    <div class="form-row side-label">
      <%= f.label :complete, t(".completion_status.label") %>
      <ul class="radio-group">
        <li>
          <%= f.radio_button :complete, "" %>
          <%= f.label :complete, t(".completion_status.all_works"), value: "" %>
        </li>
        <li>
          <%= f.radio_button :complete, "T" %>
          <%= f.label :complete, t(".completion_status.complete_only"), value: "T" %>
        </li>
        <li>
          <%= f.radio_button :complete, "F" %>
          <%= f.label :complete, t(".completion_status.wips_only"), value: "F" %>
        </li>
      </ul>
    </div>
    <div class="form-row side-label">
      <%= f.label :crossover do |l| %>
        <%= t(".crossovers.label") %>
        <%= link_to_help "work-search-crossover-help" %>
      <% end %>
      <ul class="radio-group">
        <li>
          <%= f.radio_button :crossover, "" %>
          <%= f.label :crossover, t(".crossovers.include"), value: "" %>
        </li>
        <li>
          <%= f.radio_button :crossover, "F" %>
          <%= f.label :crossover, t(".crossovers.exclude"), value: "F" %>
        </li>
        <li>
          <%= f.radio_button :crossover, "T" %>
          <%= f.label :crossover, t(".crossovers.only"), value: "T" %>
        </li>
      </ul>
    </div>
    <div class="form-row side-label">
      <%= f.label :single_chapter, t(".single_chapter") %>
      <div class="field">
        <%= f.check_box :single_chapter %>
      </div>
    </div>
    <div class="form-row side-label">
      <%= f.label :word_count do |l| %>
        <%= t(".word_count") %>
        <%= link_to_help "work-search-numerical-help" %>
      <% end %>
      <%= f.text_field :word_count %>
    </div>
    <div class="form-row side-label">
      <%= f.label :language_id do |l| %>
        <%= t(".language") %>
        <%= link_to_help "work-search-language-help" %>
      <% end %>
      <%= f.select(:language_id, language_options_for_select(@languages, "short"), include_blank: true) %>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t(".work_tags") %> <%= link_to_help "work-search-tags-help" %></legend>
    <div class="form-row side-label">
      <%= f.label :fandom_names, t(".fandoms") %>
      <%= f.text_field :fandom_names, autocomplete_options("fandom") %>
    </div>
    <div class="form-row side-label">
      <%= f.label :rating_ids, t(".rating") %>
      <%= f.collection_select :rating_ids,
                              Rating.defaults_by_severity,
                              :id,
                              :name,
                              include_blank: true %>
    </div>
    <div class="form-row side-label">
      <%= f.label :warning_ids, t(".warnings") %>
      <ul class="radio-group">
        <% for tag in ArchiveWarning.canonical.by_name %>
          <li>
            <%= check_box_tag "work_search[archive_warning_ids][]", tag.id, @search.archive_warning_ids.present? && @search.archive_warning_ids.include?(tag.id.to_s), :id => "warning_#{tag.id}" %>
            <%= label_tag "warning_#{tag.id}", warning_display_name(tag.name) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="form-row side-label">
      <%= f.label :category_ids, t(".categories") %>
      <ul class="radio-group">
        <% for tag in Category.canonical.by_name.sort %>
          <li>
            <%= check_box_tag "work_search[category_ids][]", tag.id, @search.category_ids.present? && @search.category_ids.include?(tag.id.to_s), :id => "category_#{tag.id}" %>
            <%= label_tag "category_#{tag.id}", tag.name %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="form-row side-label">
      <%= f.label :medium_ids, t(".mediums") %>
      <ul class="radio-group">
        <% for tag in Medium.canonical.by_name.sort %>
          <li>
            <%= check_box_tag "work_search[medium_ids][]", tag.id, @search.medium_ids.present? && @search.medium_ids.include?(tag.id.to_s), :id => "medium_#{tag.id}" %>
            <%= label_tag "medium_#{tag.id}", tag.name %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="form-row side-label">
      <%= f.label :character_names, t(".characters") %>
      <%= f.text_field :character_names, autocomplete_options("character") %>
    </div>
    <div class="form-row side-label">
      <%= f.label :relationship_names, t(".relationships") %>
      <%= f.text_field :relationship_names, autocomplete_options("relationship") %>
    </div>
    <div class="form-row side-label">
      <%= f.label :freeform_names, t(".additional_tags") %>
      <%= f.text_field :freeform_names, autocomplete_options("freeform") %>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t(".work_stats") %> <%= link_to_help "work-search-numerical-help" %></legend>
    <div class="form-row side-label">
      <%= f.label :hits, t(".hits") %>
      <%= f.text_field :hits %>
    </div>
    <div class="form-row side-label">
      <%= f.label :kudos_count, t(".kudos") %>
      <%= f.text_field :kudos_count %>
    </div>
    <div class="form-row side-label">
      <%= f.label :comments_count, t(".comments") %>
      <%= f.text_field :comments_count %>
    </div>
    <div class="form-row side-label">
      <%= f.label :bookmarks_count, t(".bookmarks") %>
      <%= f.text_field :bookmarks_count %>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t(".submit_label") %></legend>
    <div class="form-row side-label">
      <%= f.label :sort_column, t(".sort_by") %>
      <%= f.select :sort_column, options_for_select(@search.sort_options, @search.sort_column) %>
    </div>
    <div class="form-row side-label">
      <%= f.label :sort_direction, t(".sort_direction") %>
      <%= f.select :sort_direction,
        options_for_select([[t(".ascending"), "asc"], [t(".descending"), "desc"]], @search.sort_direction) %>
    </div>
    <div class="actions right"><%= f.submit t(".submit_label") %></div>
  </fieldset>
<% end %>
