<!--Descriptive page name, messages and instructions-->
<h2><%= ts('Post New Work') %></h2>

<%= error_messages_for @work %>
<!--/descriptions-->

<!--subnav-->
<div class="actions" role="menu">
  <% if @unposted %>
    <%= link_to ts('Restore From Last Unposted Draft?'), url_for(:action => :new, :load_unposted => true) %>
  <% end %>
  <%= link_to( ts('Import From An Existing URL Instead?'),
    {:url => {:controller => :works, :action => :new, :import => true}},
    :href => url_for(:controller => :works, :action => :new, :import => true)) %>
</div>
<!--/subnav-->

<!--main content-->
<%= render :partial => "standard_form" %>
<!--/content-->
