<div class="intro module">
  <h2 class="heading"><%= ts("for fanfiction, original fiction, multimedia fanworks, and more") %></h2>
  <p class="stats"><%= ts("more than %{fandom_count} fandoms | %{user_count} users | %{work_count} works", fandom_count: content_tag(:span, number_with_delimiter(@fandom_count), class: "count"), user_count: content_tag(:span, number_with_delimiter(@user_count), class: "count"), work_count: content_tag(:span, number_with_delimiter(@work_count), class: "count")).html_safe %></p>
  <p class="parent"><%= ts("superlove is a project by") %> <%= link_to ts("girl on the moon"), "http://girlonthemoon.xyz" %>.</p>
  <p class="parent">DAYS SINCE SUPERLOVE GOT CALLED ANTI-RUN: <%= Date.today.mjd - Date.parse("2026-01-16").mjd %></p>
  <p class="parent">DAYS SINCE SUPERLOVE GOT CALLED PROSHIPPER-RUN: <%= Date.today.mjd - Date.parse("2025-03-28").mjd %></p>
  
  <div class="account module">

    <% if !AdminSetting.current.invite_from_queue_enabled? && AdminSetting.current.creation_requires_invite? %>
      <p>
        <%= ts("Joining superlove currently requires an invitation; however, we 
               are not accepting new invitation requests at this time. Please check
               the %{news} for more information.",
               news: link_to("\"update\" tag on superlove News",
                     admin_posts_path(tag: 2))
            ).html_safe %>
      </p>
    <% end %>

    <h4 class="heading"><%= ts("With a %{short_name} account, you can:", short_name: ArchiveConfig.APP_SHORT_NAME) %></h4>
    <ul>
      <li><%= ts("Share your own fanworks & original creations") %></li>
      <li><%= ts("Get notified when your favorite works, series, or users update") %></li>
      <li><%= ts("Participate in events") %></li>
      <li><%= ts("Keep track of works you've visited and works you want to check out later") %></li>
    </ul>

    <% if AdminSetting.current.invite_from_queue_enabled? && AdminSetting.current.creation_requires_invite? && AdminSetting.current.request_invite_enabled? %>
      <p><%= ts("You can join by getting an invitation from another user or by") %> <%= link_to ts("contacting the admin"), about_path %></p>
      <p class="actions"><%= link_to ts("Get Invited!"), invite_requests_path %></p>
    <% elsif AdminSetting.current.invite_from_queue_enabled? && AdminSetting.current.creation_requires_invite? %>
      <p><%= ts("You can join by getting an invitation from our queue and waiting for admin approval.") %></p>
      <p class="actions"><%= link_to ts("Get Invited!"), invite_requests_path %></p>
    <% elsif AdminSetting.current.account_creation_enabled? && !AdminSetting.current.creation_requires_invite? %>
      <p class="actions"><%= link_to ts("Create an Account!"), signup_path %></p>
    <% end %>
  </div>
</div>
