<div id="splash">
  <% if !logged_in? %>
    <%= render 'intro_module' %>
  <% end %>

  <div id="favorites" class="module">
    <h3><%= t(".find_your_favorites") %></h3>
    <% if logged_in? && @homepage.favorite_tags.present? %>
      <ul>
        <% @homepage.favorite_tags.each do |favorite_tag| %>
          <li>
            <%= link_to_tag_works(favorite_tag.tag) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <% if logged_in? %>
        <div class="note"><%= t(".browse_or_favorite", count: ArchiveConfig.MAX_FAVORITE_TAGS) %></div>
      <% end %>

    	<div class="note">
    		<% if @random_user %>
    		  Or if you're feeling silly, try
    		  <%= link_to ts("a new author!"), user_path(@random_user) %>
    		<% else %>
    		  no authors found <span aria-label="sad" role="img">:(</span>
    		<% end %>
      </div>
      <%= render 'fandoms' %>
    <% end %>
  </div>

  <% if @homepage.admin_posts.present? %>
    <%= render 'news_module', admin_posts: @homepage.admin_posts %>
  <% end %>

  <% if logged_in? && @homepage.readings.present? %>
    <div class="readings">
      <h3>
        <span class="title"><%= t(".readings.heading.title") %></span>
        <span class="link"><%= link_to t(".readings.heading.history_link"), user_readings_path(current_user) %></span>
      </h3>
      <div class="flash"></div>
      <div class="note"><%= t(".readings.note") %></div>
      <ul>
        <% @homepage.readings.each do |reading| %>
          <%= render "readings/reading_blurb", work: reading.work, reading: reading %>
        <% end %>
      </ol>
    </div>
  <% end %>

  <% if logged_in? && @homepage.inbox_comments.present? %>
    <%= render 'inbox_module', inbox_comments: @homepage.inbox_comments %>
  <% end %>
</div>
