<%= form_for @search, as: :tag_search, url: search_tags_path, html: { class: "search", method: :get } do |f| %>
  <fieldset>
    <div class="form-row side-label">
      <%= f.label(:name) do |field| %>
        <%= ts("Tag name") %>
        <%= link_to_help "tag-search-text-help" %>
      <% end %>
      <%= f.text_field :name %>
    </div>
    <div class="form-row side-label">
      <%= f.label :fandoms, ts("Fandoms") %>
      <%= f.text_field :fandoms, autocomplete_options("fandom") %>
      <div id="fandom-field-description" class="help">
        <%= ts("Find tags wrangled to specific canonical fandoms.") %>
      </div>
    </div>
    <div class="form-row side-label">
      <%= f.label "", ts("Type") %>
      <ul class="radio-group">
        <% types = Tag::USER_DEFINED %>
        <% types.each do |type| %>
          <li>
            <%= f.radio_button :type, type %>
            <%= f.label :type, ts("%{type}", type: type), value: type %>
          </li>
        <% end %>
        <li>
          <%= f.radio_button :type, "" %>
          <%= f.label :type, ts("Any type"), value: "" %>
        </li>
      </ul>
    </div>
    <div class="form-row side-label">
      <%= f.label "", ts("Wrangling status") %>
      <ul class="radio-group">
        <li>
          <%= f.radio_button :canonical, "T" %>
          <%= f.label :canonical, ts("Canonical"), value: "T" %>
        </li>
        <li>
          <%= f.radio_button :canonical, "F" %>
          <%= f.label :canonical, ts("Non-canonical"), value: "F" %>
        </li>
        <li>
          <%= f.radio_button :canonical, "" %>
          <%= f.label :canonical, ts("Any status"), value: "" %>
        </li>
      </ul>
    </div>
    <div class="form-row side-label">
      <%= f.label :sort_column, ts("Sort by") %>
      <%= f.select :sort_column, options_for_select(@search.sort_options, @search.sort_column) %>
    </div>
    <div class="form-row side-label">
      <%= f.label :sort_direction, ts("Sort direction") %>
      <%= f.select :sort_direction,
        options_for_select([["Ascending", "asc"], ["Descending", "desc"]], @search.sort_direction) %>
    </div>
    <div class="actions right"><%= f.submit ts("Search Tags") %></p>
  </fieldset>
<% end %>
