<!--SEARCHBROWSE descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= t(".page_heading") %></h2>
<!--/descriptions-->

<!--main content-->
<ul id="media">
  <% for medium in @media %>
    <li id="medium_<%= medium.id %>" class="medium">
      <div class="listbox">
        <h3><%= link_to medium.name, media_fandoms_path(medium) %></h3>
        <ol>
          <% for fandom in @fandom_listing[medium] %>
            <li>
              <%= link_to_tag_works_with_text(fandom, fandom.name) %>
              <% if fandom.respond_to?(:count) %>
                (<%= fandom.count.to_s %>)
              <% end %>
            </li>
          <% end %>
        </ol>

        <% unless @fandom_listing[medium].size < 5 %>
          <div class="actions right"><%= link_to t(".all", media_type: medium.name), media_fandoms_path(medium) %></div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<!--/content-->
