<h3><%= t('.approval.page_heading_approve') %></h3>

<p>
  <%= t('.approval.approve_prompt', :your_work => link_to(related_work.parent.title, related_work.parent), :their_work => link_to(related_work.work.title, related_work.work), :their_profile => byline(related_work.work))%>
</p>

<p><%= t('.approval.assurance') %> <%= t('.approval.change_mind') %></p>

<%= form_for(related_work) do |f| %>
  <div class="submit">
    <%= f.submit t(".approval.approve_submit") %>
  </div>
<% end %>
