<%= content_for :sidebar do %>
  <% if @user && !@hide_dashboard %>
    <%= render :partial => 'users/sidebar' %>
  <% end %>
<% end %>

<div id="content">
  <%= render 'users/header' %>

  <!--main content-->
  <% if @profile.title.present? %>
    <h2 class="heading"><%=h @profile.title %></h2>
  <% end %>

  <ul id="user-meta" class="outset meta">
    <li id="pseuds">
      <b><%= ts("My pseuds:") %></b>
      <div class="meta-value">
        <%= print_pseud_list(@user, @pseuds) %>
      </div>
    </li>
    <li id="joindate">
      <b><%= ts("I joined on:") %></b>
      <div class="meta-value">
        <%= l(@profile.created_at) %>
      </div>
    </li>
    <li id="userid">
      <b><%= ts("My user ID is:") %></b>
      <div class="meta-value">
        <%= @user.id %>
      </div>
    <% if @profile.location %>
      <li id="location">
        <b><%=h ts("I live in:") %></b>
        <div class="meta-value"><%=h @profile.location %></div>
      </li>
    <% end %>
    <% if @profile.date_of_birth %>
      <li id="birthday">
        <b><%=h ts("My birthday:") %></b>
        <div class="meta-value">
          <%=l(@profile.date_of_birth) %>
        </div>
    <% end %>
    <% if @profile.email %>
      <li id="email">
        <b><%=h ts("My email address:") %></b>
        <div class="meta-value">
          <%= mail_to @profile.email, nil, :encode => "hex" %>
        </div>
      </li>
    <% end %>
  </ul>

  <% if @profile.about_me.present? %>
    <div id="bio">
      <h3><%=h ts("Bio") %></h3>
      <div id="bio-content">
        <%=raw sanitize_field(@profile, :about_me) %>
      </div>
    </div>
  <% end %>
  <!--/content-->

  <!--subnav-->
  <% if logged_in? && current_user == @user %>
  <h3 class="landmark"><%= ts("Actions") %></h3>
  <ul class="actions right">
    <li><%= link_to ts("Edit My Works"), show_multiple_user_works_path(@user) %></li>
    <li><%= link_to ts("Edit My Profile"), edit_user_path(@user) %></li>
    <li><%= link_to ts("Set My Preferences"), user_preferences_path(@user) %></li>
    <li><%= link_to ts("Manage My Pseuds"), user_pseuds_path(@user) %></li>
    <li><%= link_to ts("Delete My Account"), @user, data: {confirm: ts('This will permanently delete your account and cannot be undone. Are you sure?')}, :method => :delete %></li>
  </ul>
  <% elsif policy(@user.profile).can_edit_profile? %>
    <h3 class="landmark"><%= t("admin.admin_options.landmark") %></h3>
    <ul class="actions right">
      <li><%= link_to ts("Edit Profile"), edit_user_path(@user) %></li>
    </ul>
  <% end %>
  <!--/subnav-->

</div>
