<!-- BEGIN footer -->
<footer id="footer" role="contentinfo">
	<h3 class="landmark"><%= ts('Footer', key: 'footer') %></h3>
  <nav>
    <ul>
      <% cache(skin_chooser_key, skip_digest: true) do %>
        <% unless Skin.in_chooser.empty? %>
          <li>
            <span><%= t(".customize.header") %></span>
            <ul>
              <li><%= button_to t(".customize.default"), unset_skins_path, method: :post %></li>
              <% Skin.in_chooser.order(:title).each do |s| %>
                <li><%= button_to s.title, set_skin_path(s), method: :post %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
      <li>
        <span><%= t(".about.header") %></span>
        <img src="/images/buttons/aroceu/2.png" alt="superlove button by aroceu" width="88px" style="display: block;" />
        <ul>
          <li><%= link_to t(".about.site_map"), site_map_path %></li>
          <li><%= link_to t(".about.diversity_statement"), diversity_path %></li>
          <li><%= link_to t(".about.tos"), tos_path %></li>
          <li><%= link_to t(".about.content_policy"), content_path %></li>
          <li><%= link_to t(".about.privacy_policy"), privacy_path %></li>
          <li><%= link_to t(".about.dmca_policy"), dmca_path %> </li>
          <li><%= link_to t(".about.status_page"), "https://uptime.4-walls.net/status/superlove" %></li>
        </ul>
      </li>
      <li>
        <span><%= t(".contact_us.header") %></span>
        <ul>
          <li><%= link_to t(".contact_us.pac"), new_abuse_report_path %></li>
          <li><%= link_to t(".contact_us.support"), new_feedback_report_path %></li>
        </ul>
      </li>
      <li>
        <span><%= t(".development.header") %></span>
        <ul>
          <li><a href="https://uptime.4-walls.net/status/superlove">Site Status</a></li>
          <% unless ArchiveConfig.REVISION.blank? %>
            <li>
              <%= link_to t(".development.archive_version", version_number: ENV["SUPERLOVE_HASH"]),
                    "https://github.com/xxwhirlpool/superlove/commit/#{ENV["SUPERLOVE_HASH"].gsub("#", "")}" %>
            </li>
          <% end %>
          <li>
            <%= t(".development.license_details_html",
                  license_link: link_to(t(".development.gpl_2_0_or_later"),
                    "https://www.gnu.org/licenses/old-licenses/gpl-2.0.html",
                    title: t(".development.view_license")),
                  otw_link: link_to(t(".otw.abbreviated"),
                    "https://transformativeworks.org/",
                    title: t(".otw.full"))) %>
          </li>
          <li>superlove is unaffiliated with the Organization for Transformative Works and/or the Archive of Our Own.</li>
        </ul>
      </li>
    </ul>
  </nav>
</footer>
