<div id="tos_prompt" class="hidden">
  <h2 class="heading">
    <span><%= t(".page_heading") %></span>
  </h2>
  <div class="agreement">
    <p class="summary">
      <%= ts("%{site} is run by one person. If you see anything you don't like please
            don't fucking attack me I am just some guy who decided to self host ao3
            and none of this is really that serious. I strongly moderate the works
            posted here and singlehandedly wrangle all tags. As much as I did this
            for fun I believe in cultivating a safe environment/community for my
            users, one where we can post our creations without fear of harassment or
            bullying and all that shit. Be nice to me and all of us or you get the boot.
            Be mindful when sharing personal information, including  your religious or
            political views, health, racial background, country of origin, sexual identity
            and/or personal relationships. To learn more, check out our %{tos} and %{privacy}.",
            site: ArchiveConfig.APP_NAME, 
            short_name: ArchiveConfig.APP_SHORT_NAME, 
            tos: link_to(ts("Terms of Service"), tos_path),
            privacy: link_to(ts("Privacy Policy"), tos_path(anchor: "privacy"))
          ).html_safe %>
    </p>

    <p class="confirmation">
      <input type="checkbox" id="tos_agree" />
      <label for="tos_agree"><%= t(".read_and_understood") %></label>
    </p>

    <p class="confirmation">
      <input type="checkbox" id="data_processing_agree" />
      <label for="data_processing_agree"><%= t(".data_processing_agreement") %></label>
    </p>

    <% if current_user.nil? %>
      <p class="submit">
        <%= button_tag t(".agree_and_consent"), disabled: true, type: "button", id: "accept_tos" %>
      </p>
    <% else %>
      <%= form_tag end_tos_prompt_user_path(current_user),
            method: :post,
            remote: true do %>
        <p class="submit">
          <%= submit_tag t(".agree_and_consent"), disabled: true, id: "accept_tos" %>
        </p>
      <% end %>
    <% end %>

  </div>
</div>

<%# content_for footer renders this when we don't want it %>
<%= javascript_tag do %>
  $j(document).ready(function() {
    var body = document.body;
    var container = $j("#tos_prompt");
    var outer = document.getElementById("outer");
    var button = document.getElementById("accept_tos");
    var tosCheckbox = document.getElementById("tos_agree");
    var dataProcessingCheckbox = document.getElementById("data_processing_agree");

    dataProcessingCheckbox.onclick = checkboxClicked;
    tosCheckbox.onclick = checkboxClicked;
    button.onclick = acceptTOSPrompt;

    setTimeout(showTOSPrompt, 1500);

    function showTOSPrompt() {
      body.style.overflow = "hidden";
      $j.when(container.fadeIn(500)).done(function() {
        outer.style.visibility = "hidden";
        outer.setAttribute("aria-hidden", "true");
      });
    }

    function checkboxClicked() {
      button.disabled = !tosCheckbox.checked || !dataProcessingCheckbox.checked;
    }

    function acceptTOSPrompt() {
      acceptTOS();
      body.style.overflow = "";
      outer.removeAttribute("style");
      outer.removeAttribute("aria-hidden");
      $j.when(container.fadeOut(500)).done(function() {
        container.remove();
      });
    }
  });
<% end %>
