<div id="tos_prompt" class="hidden">
  <h2>
    <span><%= t(".page_heading") %></span>
  </h2>
  <div class="agreement">
    <div class="summary">
      <%= ts("%{site} is run by one person. If you see anything you don't like please
            don't fucking attack me I am just some guy who decided to self host ao3
            and none of this is really that serious. I strongly moderate the works
            posted here and singlehandedly wrangle all tags. As much as I did this
            for fun I believe in cultivating a safe environment/community for my
            users, one where we can post our creations without fear of harassment or
            bullying and all that shit. Be nice to me and all of us or you get the boot.
            Be mindful when sharing personal information, including  your religious or
            political views, health, racial background, country of origin, sexual identity
            and/or personal relationships. To learn more, check out our %{tos} and %{privacy}.",
            site: ArchiveConfig.APP_NAME, 
            short_name: ArchiveConfig.APP_SHORT_NAME, 
            tos: link_to(ts("Terms of Service"), tos_path),
            privacy: link_to(ts("Privacy Policy"), tos_path(anchor: "privacy"))
          ).html_safe %>
    </div>

    <div class="form-row confirmation">
      <input type="checkbox" id="tos_agree" />
      <label for="tos_agree"><%= t(".read_and_understood") %></label>
    </div>
    
    <div class="form-row confirmation">
      <input type="checkbox" id="data_processing_agree" />
      <label for="data_processing_agree"><%= t(".data_processing_agreement") %></label>
    </div>

    <% if current_user.nil? %>
      <div class="submit">
        <%= button_tag t(".agree_and_consent"), disabled: true, type: "button", id: "accept_tos" %>
      </div>
    <% else %>
      <%= form_tag end_tos_prompt_user_path(current_user),
            method: :post,
            remote: true do %>
        <div class="submit">
          <%= submit_tag t(".agree_and_consent"), disabled: true, id: "accept_tos" %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

<%= javascript_tag do %>
  document.addEventListener('ready', (_e) => {
    const container = document.getElementById('tos_prompt');
    const outer = document.getElementById('outer');
    const button = document.getElementById('accept_tos');
    const agree = document.getElementById('tos_agree');
    const dataAgree = document.getElementById("data_processing_agree");
    
    setTimeout(showTOSPrompt, 1500);
    
    const checkboxClicked = () => {
      button.disabled = !agree.checked || !dataAgree.checked;
    }
    
    const showTOSPrompt = () => {
      container.classList.remove('hidden');
      outer.classList.add('hidden');
      outer.setAttribute('aria-hidden', true);
    }
    
    const acceptTOSPrompt = () => {
      acceptTOS();
      body.style.overflow = "";
      outer.removeAttribute("style");
      outer.removeAttribute("aria-hidden");
      container.classList.add('hidden');
      setTimeout(() => {
        container.remove();
      }, 500)
    }
    
    if (agree) {
      agree.addEventListener('click', (e) => {
        checkboxClicked();
        acceptTOSPrompt();
      });
    }
    
    if (dataAgree) {
      dataAgree.addEventListener('click', (e) => {
        checkboxClicked();
        acceptTOSPrompt();
      });
    }
    
    if (button) {
      button.addEventListener('click', () => {
        acceptTOSPrompt();
      });
    }
  });
<% end %>
