<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="keywords" content="fanfiction, fanworks, creative works" />
    <meta name="language" content="en-US" />
    <meta name="subject" content="fandom" />
    <meta name="description" content="superlove, what me and your mother make when you're not home" />
    <meta name="distribution" content="GLOBAL" />
    <meta name="classification" content="slay" />
    <meta name="author" content="girl on the moon" />
    <% item = @user || @work || @series %>
    <% if disallow_robots?(item) %>
      <meta name="robots" content="noindex" />
      <meta name="googlebot" content="noindex" />
    <% end %>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  	  <%= display_meta_tags(default_meta_tags) %>
    <meta name="chrome" content="nointentdetection" />
    <meta name="format-detection" content="telephone=no" />
    <title><%= browser_page_title(@page_title, @page_subtitle) %></title>
    <%= render :partial => 'layouts/includes' %>
    <%= phraseapp_in_context_editor_js %>
  </head>

  <body class="<%= logged_in? ? 'logged-in' : 'logged-out' %>" <%= PhraseApp::InContextEditor.enabled? ? "data-no-turbolink" : "" %>>
    <div id="outer">
      <ul id="skiplinks"><li><a href="#main"><%= ts('Main Content') %></a></li></ul>
      <% # layouts/proxy_notice is rendered here by JavaScript found in layouts/javascripts. %>
      <%= render :partial => 'layouts/header' %>
      <div id="inner">
        <!-- BEGIN main -->
        <main id="main" class="<%= classes_for_main %> region" role="main">
          <%= flash_div :error, :caution, :notice, :alert %>
          <div id="flash-container">
            <%= yield :flash %>
          </div>
          <!-- BEGIN sidebar -->
          <%= yield :sidebar %>
          <!-- END sidebar -->
          <%= yield %>
        </main>
        <!-- END main -->
      </div>
      <%= render :partial => 'layouts/footer' %>
    </div>
    <%= render :partial => 'layouts/javascripts' %>
  </body>
</html>
